# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.pdb
*.egg-info/
*.egg
dist/
build/
*.whl

# Django
*.log
*.sqlite3
db.sqlite3
media/
staticfiles/
static/
venv/
venv
.env
.env.local
.env.*.local

# VS Code
.vscode/

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Coverage reports
htmlcov/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover

# Test and coverage
*.test
*.tests
*.test.*
*.tests.*

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Sphinx documentation
docs/_build/

# Pytest
.cache/
pytest_cache/

# Local configuration
local_settings.py